# Decision Tree

## Predict salary range

In [1]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

#### seperate dependent variables and independent variables (X, y)

In [6]:
inputs = df.iloc[:,:3]  # or df.drop('salary_more_then_100k', axis = 'columns')
target = df['salary_more_then_100k']

#### convert categorical data into numerical data

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [11]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [12]:
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [14]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')

In [15]:
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

#### begin to classify

In [22]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [17]:
model = tree.DecisionTreeClassifier()

In [23]:
X_train,X_test,y_train,y_test = train_test_split(inputs_n,target)

In [24]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [25]:
model.score(X_test,y_test)

0.5

In [27]:
predicted = model.predict(X_test)

In [33]:
predicted

array([1, 1, 0, 1], dtype=int64)

In [34]:
y_test

11    1
4     0
9     1
15    1
Name: salary_more_then_100k, dtype: int64

## Predict sruvived or not

In [55]:
df2 = pd.read_csv('titanic.csv')

In [56]:
inputs2 = df2[['Pclass','Sex','Age','Fare']]

In [57]:
inputs2.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [58]:
target2 = df2['Survived']

In [59]:
inputs2.Sex = inputs2.Sex.map({'male':1,'female':2})

c:\users\liuha_oc1c\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [60]:
inputs2.Age = inputs2.Age.fillna(inputs2.Age.median())

In [61]:
inputs2.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [62]:
X_train2,X_test2,y_train2,y_test2 = train_test_split(inputs2,target2,train_size=0.8)

In [63]:
model2 = tree.DecisionTreeClassifier()

In [64]:
model2.fit(X_train2,y_train2)

DecisionTreeClassifier()

In [66]:
model2.score(X_test2, y_test2)

0.7486033519553073

In [3]:
x=[[1,2,3,4]]
shape(x)

NameError: name 'shape' is not defined

In [9]:
import numpy as np
y = np.array([[1,2,3,4]])

In [10]:
y.shape

(1, 4)

In [12]:
z=[[1234]]
np.array(z).shape[0]

1