### OneHotEncoder

#### work on 1D array or nD matrix, create ND matrix ( N different categories) 适用于所有类别同等，没有先后之分时
####  converts categorical data to a numerical representation without an arbitrary ordering

In [32]:
from sklearn.preprocessing import OneHotEncoder

In [33]:
enc = OneHotEncoder(handle_unknown='ignore')

In [34]:
X = [['Male', 1], ['Female', 3], ['Female', 2]]
X  # 3rows,2columns

[['Male', 1], ['Female', 3], ['Female', 2]]

In [36]:
enc.fit(X) # create dummies from all columns

OneHotEncoder(handle_unknown='ignore')

In [37]:
enc.categories_ # 5 categories

[array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]

In [41]:
new_X = enc.transform(X)

In [44]:
new_X

<3x5 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [45]:
new_X.toarray() # columns: Female,Male,1,2,3

array([[0., 1., 1., 0., 0.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 1., 0.]])

### Pandas

#### work on 1D array, create nD matrix, (n different categories)

In [25]:
import pandas as pd

In [49]:
df = pd.DataFrame(X)
dumy = pd.get_dummies(df.iloc[:,0]) # can only work on single row

In [50]:
print(dumy)

   Female  Male
0       0     1
1       1     0
2       1     0

In [51]:
df_new = pd.concat([df,dumy],axis='columns')

In [52]:
df_new

        0  1  Female  Male
0    Male  1       0     1
1  Female  3       1     0
2  Female  2       1     0

### LabelEncoder

#### work on 1D array, create 1D array 适用于类别有顺序关系，或者严重程度之类的，数字越大代表程度越深

In [53]:
from sklearn.preprocessing import LabelEncoder

In [55]:
le = LabelEncoder()
le.fit(df.iloc[:,0]) # work on 1D array, only single column

LabelEncoder()

In [59]:
list(le.classes_)

['Female', 'Male']

In [68]:
nn = le.transform(df.iloc[:,0]) # two categories(Female,Male), Female is 0, Male is 1

In [65]:
df_2 = df.copy
df_2

<bound method NDFrame.copy of         0  1
0    Male  1
1  Female  3
2  Female  2>

In [69]:
# add the new data into the dataframe
df_2['new_col']= pd.Series(nn)

TypeError: 'method' object does not support item assignment

#### for days (Monday, Tuesday,...), use OneHotEncoder, by LabelEncoder, we could simply map days of the week to numbers 1–7, but this might lead to the algorithm placing more importance on Sunday because it has a higher numerical value.